/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

:root{
  --bg-accent-color: #C3110C;
  --bg-primary-color: #280905;
  --bg-alert-color: #FFCE99;
  --bg-secondary-color: #F2F2F2;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
}
